# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Env
.env
*.env

# Alembic
alembic/versions/*.pyc

# Node
node_modules/
dist/
.next/

# ML artifacts
*.pkl
*.joblib
models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
